<div class="container">
    <div class="cards">
        {{#each notes}}
        <div class="card" id="{{id}}">
            <pre contenteditable="false" id="note">{{note}}</pre>
            <button id="editButton" class="utilButton editBtn"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    width="24" height="24" viewBox="0 0 24 24">
                    <path
                        d="M 18 2 L 15.585938 4.4140625 L 19.585938 8.4140625 L 22 6 L 18 2 z M 14.076172 5.9238281 L 3 17 L 3 21 L 7 21 L 18.076172 9.9238281 L 14.076172 5.9238281 z">
                    </path>
                </svg></i></button>
            <button class="utilButton tick" id="save"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24"
                    height="24" viewBox="0 0 24 24">
                    <path
                        d="M 20.292969 5.2929688 L 9 16.585938 L 4.7070312 12.292969 L 3.2929688 13.707031 L 9 19.414062 L 21.707031 6.7070312 L 20.292969 5.2929688 z">
                    </path>
                </svg>
            </button>
            <button id="deleteBtn" class="utilButton deleteBtn">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 30 30">
                    <path
                        d="M 14.984375 2.4863281 A 1.0001 1.0001 0 0 0 14 3.5 L 14 4 L 8.5 4 A 1.0001 1.0001 0 0 0 7.4863281 5 L 6 5 A 1.0001 1.0001 0 1 0 6 7 L 24 7 A 1.0001 1.0001 0 1 0 24 5 L 22.513672 5 A 1.0001 1.0001 0 0 0 21.5 4 L 16 4 L 16 3.5 A 1.0001 1.0001 0 0 0 14.984375 2.4863281 z M 6 9 L 7.7929688 24.234375 C 7.9109687 25.241375 8.7633438 26 9.7773438 26 L 20.222656 26 C 21.236656 26 22.088031 25.241375 22.207031 24.234375 L 24 9 L 6 9 z">
                    </path>
                </svg>
            </button>
        </div>
        {{/each}}
    </div>
</div>

<script>
</script>